<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https//www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
</head>
<body>
<section class="m-auto" layout:fragment="content">
    <div class="card m-5 shadow mb-5" >
        <div class="card-body">
            <table class="table table-striped" th:if="${not #lists.isEmpty(products)}">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}" th:if="${product != null}">
                    <td th:text="${product.name}">Nome do Produto</td>
                    <td th:text="${product.price}">Preço</td>
                    <td>
                        <form th:action="@{/products/delete}" method="post">
                            <input type="hidden" th:name="productId" th:value="${product.id}" />
                            <button class="btn btn-danger" type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${#lists.isEmpty(products)}">Nenhum produto cadastrado.</div>
        </div>
    </div>

</section>
</body>
</html>
